.dateInputContainer {
    display: flex;
    padding: 2rem;
}

.dateInput {
    margin: 0 1rem;
    height: 1rem;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.calendarContainer {
    padding-top: 1rem;
    width: 40%;
}